{% extends "base.html" %}

{% block title %}
    Create New Offer
{% endblock %}

{% block header %}
    Create New Offer
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Create a New Offer</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create Offer</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        function loadContacts() {
            var url = "{% url 'offers:load_contacts' %}";
            var companyId = $('#id_company').val();
            $.ajax({
                url: url,
                data: {
                    'company_id': companyId
                },
                success: function (data) {
                    $('#id_contact_person').html('<option value="">---------</option>');
                    data.forEach(function (contact) {
                        $('#id_contact_person').append('<option value="' + contact.id + '">' + contact.first_name + ' ' + (contact.second_name ? contact.second_name : '') + '</option>');
                    });
                }
            });
        }

        $('#id_company').change(loadContacts);

        // Trigger change event if company is pre-selected
        if ($('#id_company').val()) {
            loadContacts();
        }
    });
</script>
{% endblock %}