{% extends "base.html" %}

{% block title %}
    Delivery Methods
{% endblock %}

{% block header %}
    Delivery Methods
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Delivery Methods</h2>
        <a href="{% url 'offers:create_delivery_method' %}" class="btn btn-primary mb-3">Add Delivery Method</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for method in delivery_methods %}
                <tr>
                    <td>{{ method.name }}</td>
                    <td>{{ method.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}