{% extends "base.html" %}

{% block title %}
    Offer Details
{% endblock %}

{% block header %}
    Offer Details
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Offer Details</h2>
        <ul>
            <li><strong>Company Name:</strong> {{ offer.company.name }}</li>
            <li><strong>Company Address:</strong> {{ offer.company.address }}</li>
            <li><strong>Company Country:</strong> {{ offer.company.country }}</li>
            <li><strong>Contact Person Full Name:</strong> {{ offer.contact_person.first_name }} {{ offer.contact_person.second_name }}</li>
            <li><strong>Contact Person Email:</strong> {{ offer.contact_person.email }}</li>
            <li><strong>Project Name:</strong> {{ offer.project_name }}</li>
            <li><strong>Project Country:</strong> {{ offer.project_country }}</li>
            <li><strong>Offer Date:</strong> {{ offer.offer_date }}</li>
            <li><strong>Valid Until:</strong> {{ offer.valid_until }}</li>
        </ul>
        <a href="{% url 'offers:list' %}" class="btn btn-secondary">Back to Offer List</a>
    </div>
{% endblock %}