{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container my-5">
    <!-- Offer Title -->
    <h2 class="text-center mb-4 text-uppercase font-weight-bold">
        <i class="fas fa-file-alt"></i> Offer {{ offer.offer_number }} - {{ offer.project_name }}
    </h2>

    <div class="row">
        <!-- Company and Contact Person Details -->
        <div class="col-md-12">
            <div class="card shadow-lg border-0 mb-4">
                <div class="card-body">
                    <h4 class="text-primary"><i class="fas fa-info-circle"></i> Company & Contact Details</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Company Name:</strong> <span class="text-muted">{{ offer.company.name }}</span></p>
                            <p><strong>Company Address:</strong> <span class="text-muted">{{ offer.company.address }}</span></p>
                            <p><strong>Company Country:<img src="https://flagcdn.com/w20/{{ offer.company.country.code|lower }}.png" alt="{{ offer.company.country.name }} Flag" class="img-fluid" style="width: 30px; height: 20px;"> </strong> <span class="text-muted">{{ offer.company.country.name }}</span></p>
                        </div>
                        <div class="col-md-6">
                            <p><strong><i class="fas fa-user"></i></strong> <span class="text-muted">{{ offer.contact_person.first_name }} {{ offer.contact_person.second_name }}</span></p>
                            <p><strong><i class="fas fa-envelope"></i></strong> <span class="text-muted">{{ offer.contact_person.email }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Details -->
        <div class="col-md-12">
            <div class="card shadow-lg border-0 mb-4">
                <div class="card-body">
                    <h4 class="text-primary"><i class="fas fa-project-diagram"></i> Project Details</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Project Name:</strong> <span class="text-muted">{{ offer.project_name }}</span></p>
                            <p><strong>Project Country: <img src="https://flagcdn.com/w20/{{ offer.project_country.code|lower }}.png" alt="{{ offer.project_country.name }} Flag" class="img-fluid" style="width: 30px; height: 20px;"></strong> <span class="text-muted">{{ offer.project_country.name }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Offer Details -->
        <div class="col-md-12">
            <div class="card shadow-lg border-0 mb-4">
                <div class="card-body">
                    <h4 class="text-primary"><i class="fas fa-info-circle"></i> Offer Details </h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Offer Date:</strong> <span class="text-muted">{{ offer.offer_date }}</span></p>
                            <p><strong>Valid Until:</strong> <span class="text-muted">{{ offer.valid_until }}</span></p>
                            <p><strong>Total Value:</strong> <span class="text-muted">{{ total_amount |floatformat:2|intcomma }} €</span></p>
                        </div>
                        <div class="col-md-6">
                            <p><i class="fas fa-ship"></i><strong> Delivery Method:</strong> <span class="text-muted">{{ offer.delivery_method }}</span></p>
                            <p><i class="fas fa-file-invoice-dollar"></i><strong> Payment Terms:</strong> <span class="text-muted">{{ offer.payment_terms }}</span></p>
                            <p><i class="fas fa-clock"></i><strong> Delivery Time:</strong> <span class="text-muted">{{ offer.delivery_time_weeks }} weeks from advance payment or design confirmation</span></p>
                            <p><i class="fas fa-tasks"></i><strong> Stage:</strong> <span class="text-muted">{{ offer.stage.name }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Products Details -->
<div class="col-md-12">
    <div class="card offer-card shadow-lg border-0 mb-4">
        <div class="card-body">
            <h4 class="text-primary"><i class="fas fa-box"></i> Products</h4>
            <hr>
            <div class="table-responsive">
                <table class="table offer-table table-bordered table-hover table-striped">
                    <thead class="offer-table-light">
                        <tr>
                            <th scope="col">Product Code</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Cost</th>
                            <th scope="col">Margin</th>
                            <th scope="col">Product Price</th>
                            <th scope="col">Discount %</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Product Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer_product in offer_products %}
                        <tr>
                            <td><a href="{% url 'offers:edit_offer_product' offer.pk offer_product.pk %}">{{ offer_product.product_code }}</a></td>
                            <td>{{ offer_product.product_name }} - {{ offer_product.size }} - {{ offer_product.material }}</td>
                            <td>{{ offer_product.unit_cost |floatformat:2|intcomma }} €</td>
                            <td>{{ offer_product.margin }} %</td>
                            <td>{{ offer_product.price |floatformat:2|intcomma }} € </td>
                            <td>{{ offer_product.discount_percentage }}</td>
                            <td>{{ offer_product.quantity }}</td>
                            <td>{{ offer_product.total_price |floatformat:2|intcomma }} €</td>
                            <td class="text-truncate" style="max-width: 250px;">{{ offer_product.description }}</td>
                            <td class="text-center">
                                
                                <a href="{% url 'offers:delete_offer_product' offer.pk offer_product.pk %}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i> 
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8" class="text-right"><strong>Total Amount:</strong></td>
                            <td><strong>{{ total_amount |floatformat:2|intcomma }} €</strong></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <a href="{% url 'offers:add_offer_product' offer.pk %}" class="btn btn-primary">
                <i class="fas fa-plus"></i> Add Product
            </a>
        </div>
    </div>
</div>
</div>

    <!-- Action Buttons -->
    <div class="text-center mt-4">
        <a href="{% url 'offers:list' %}" class="btn btn-secondary px-4">
            <i class="fas fa-arrow-left"></i> Back
        </a>
        <a href="{% url 'offers:edit_offer' offer.pk %}" class="btn btn-warning px-4">
            <i class="fas fa-edit"></i> Edit
        </a>
        <form method="post" action="{% url 'offers:delete_offer' offer.pk %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger px-4">
                <i class="fas fa-trash"></i> Delete
            </button>
        </form>
    </div>
</div>
{% endblock %}
