{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4 text-uppercase font-weight-bold">
        <i class="fas fa-cog"></i> Settings
    </h2>
    
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-lg border-0 mb-4">
                <div class="card-body text-center">
                    {% csrf_token %}
                    <!-- Add your settings form fields here -->
                    <div class="form-group">
                        <a href="{% url 'products:add_category' %}" class="btn btn-primary btn-block mb-3">
                            <i class="fas fa-list-alt"></i> Product Categories
                        </a>
                        <a href="{% url 'offers:create_delivery_method' %}" class="btn btn-primary btn-block mb-3">
                            <i class="fas fa-truck"></i> Delivery Methods
                        </a>
                        <a href="{% url 'offers:stage_list' %}" class="btn btn-primary btn-block mb-3">
                            <i class="fas fa-tasks"></i> Offer Stages
                        </a>
                        <a href="{% url 'offers:initialize_counter' %}" class="btn btn-primary btn-block mb-3">
                            <i class="fas fa-sort-numeric-up"></i> Offer Counter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}